@font-face {
    font-family: "custom";
    src: url('../font/PossumSaltareNF.ttf')
}

@font-face {
    font-family: "chiffres";
    src: url("../font/cafeteria-bold.ttf");
}

body {
    font-family: "custom";
}

.galerie {
    display: flex;
}

.carte-size {
    height : 350px;
    width: 227px;
}

.carte {
    height : 94%;
    width : 92%;
    border : solid black 10px;
    border-radius : 1%;
    position : relative;
    display: flex;
}

.bleue {
    background-image : url('../images/fond.jpg');
}

.jaune {
    background-image : url('../images/yellow_background.jpg');
}

.couts-area {
    display: flex;
    height: 50%;
    width: 40%;
    margin-left: 2%;
}

.cout {
    width: 100%;
    margin-left: 3%;
}

.padding {
    height: 0.8%;
}

.background-banner {
    background-image : url('../images/fond-dependance.png');
    background-repeat : no-repeat;
    background-position : center top;
}

.ressources-3 {
    background-size: 55% 51%;
}

.ressources-4 {
    background-size: 55% 67%;
}

.ressource {
    position : relative;
    width : 95%;
    height: 14.5%;
    margin-top: 7.5%;
    margin-left: auto;
    margin-right: auto;
}

.dependance {
    font-size : 0.5em;
    position : relative;
    writing-mode: sideways-lr;
    text-orientation: sideways;
    background : url('../images/fond-dependance.png');
    background-size: 15px 15px;
    padding : 2px 2px 5px 1px;
    margin-bottom : 5px;
}

.effets {
    margin-top : 3%;
    margin-right: 10%;
    width: 90%;
    height: 18%;
    display: flex;
}

.effet {
    position: relative;
    width: 47%;
    height: 90%;
}

.position-center {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


.coin-picture {
    width: 81%;
    height: 100%;
}

.center {
    position: absolute;
    left: 0;
    top: 11%;
    width: 100%;
    text-align: center;
}

.victoire {
    color : white;
    text-shadow: -1px 0 #000, 0 1px #000, 2px 0 #000, 0 -1px #000;
}

.coins {
    color : black;
    text-shadow: -1px 0 white, 0 1px white, 2px 0 white, 0 -1px white;
}

.chiffres {
    font-family: "chiffres";
    font-size: 2.2em;
    font-weight: bold;
}


.name {
    position : absolute;
    background: url('../images/fond-name.png') no-repeat center/150% 100%;
    /*noinspection CssInvalidPropertyValue*/
    writing-mode: sideways-lr;
    text-orientation: sideways;
    bottom : 0;
    left : 4%;
    font-size : 0.95em;
    margin-top : -20px;
    padding-top : 20px;
    padding-bottom : 2px;
}
.nombreJoueurs {
    font-family: "chiffres";
    position : absolute;
    bottom : 3px;
    font-size : 0.95em;
    left : 50%;
    text-shadow: -1px 0 #d1d1d1, 0 1px #d1d1d1, 1px 0 #d1d1d1, 0 -1px #d1d1d1;
}

.marge {
    margin: 50px;
}

.full-screen {
    height : 100%;
    width : 100%;
}

.image {
    position : absolute;
    height : 77%;
    width : 82%;
    bottom : 0;
    right: 0;
}

