@font-face {
    font-family: "custom";
    src: url('../font/PossumSaltareNF.ttf')
}

@font-face {
    font-family: "chiffres";
    src: url("../font/cafeteria-bold.ttf");
}

body {
    font-family: "custom";
}

.galerie {
    display: flex;
}

.carte-size {
    height : 350px;
    width: 227px;
}

.carte {
    height : 94%;
    width : 92%;
    border : solid black 10px;
    border-radius : 1%;
    position : relative;
    display: flex;
}

.bleue {
    background-image : url('../images/fond.jpg');
}

.jaune {
    background-image : url('../images/yellow_background.jpg');
}

.rouge {
    background-image : url('../images/red_background.jpg');
}

.vert {
    background-image : url("../images/green_background.jpg");
}

.marron {
	background-image : url("../images/brown_background.jpg");
}

.blanche {
	background-image : url("../images/white_background.jpg");
}

.background-banner {
    background-image : url('../images/fond-dependance.png');
    background-repeat : no-repeat;
    background-position : center top;
}

.background-full {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.text-dependance {
    font-size : 0.5em;
    writing-mode: sideways-lr;
    text-orientation: sideways;
    padding : 2px 2px 5px 1px;
    margin-bottom : 5px;
    text-align: center;
}

.center {
    position: absolute;
    left: 0;
    top: 11%;
    width: 100%;
    text-align: center;
}

.white-text {
    color : white;
    text-shadow: -1px 0 #000, 0 1px #000, 2px 0 #000, 0 -1px #000;
}

.black-text {
    color : black;
    text-shadow: -1px 0 white, 0 1px white, 2px 0 white, 0 -1px white;
}

.chiffres {
    font-family: "chiffres";
    font-size: 2.2em;
    font-weight: bold;
}

.background-name {
    background: url('../images/fond-name.png') no-repeat center/150% 100%;
}

.text-name {
    writing-mode: sideways-lr;
    text-orientation: sideways;
    font-size : 0.95em;
}

.text-nombreJoueurs {
    font-family: "chiffres";
    text-shadow: -1px 0 #d1d1d1, 0 1px #d1d1d1, 1px 0 #d1d1d1, 0 -1px #d1d1d1;
    font-size : 0.95em;
}

.nombreJoueurs {
    position : absolute;
    bottom : 3px;
    left : 50%;
}

.marge {
    margin: 50px;
}

.full-screen {
    height : 100%;
    width : 100%;
}

