.carte {
    margin : 100px;
    border : 8px solid black;
    border-radius : 10px;
    height : 350px;
    width : 227px;
    background-image : url('../images/fond.jpg');
    position : relative;
}
.image img{
    position : absolute;
    height : 80%;
    width : 85%;
    bottom : 0;
    right: 0;
}
.ressource-pierre {
    position : relative;
    background : url('../images/pierre.png') no-repeat;
    left : 0;
    width : 20px;
    height: 20px;
}

.couts-area {
	display: flex;
}

.cout {
	display: inline;
	width: 20px;
	margin-left: 1%;
}

.dependance {
    font-size : 10px;
    position : relative;
    /*noinspection CssInvalidPropertyValue*/
    writing-mode: sideways-lr;
    text-orientation: sideways;
    background-image : url('../images/fond-dependance.png')
}
.victoire {
    background: url('../images/laurier.png') no-repeat center;
    background-size: 50px 41px;
    width : 50px;
    height : 41px;
    position : absolute;
    left : 45%;
    color : white;
    font-size: 22px;
    font-weight: bold;
    padding-top : 10px;
    text-align : center;
}
.name {
    position : absolute;
    background-size: 50px 41px;
    background: url('../images/fond-name.png') no-repeat center;
    /*noinspection CssInvalidPropertyValue*/
    writing-mode: sideways-lr;
    text-orientation: sideways;
    bottom : 0;
    left : 4%;
}
.nombreJoueurs {
    position : absolute;
    bottom : 5px;
    left : 50%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
