<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>7 wonders</title>
    </head>
    <body>
        <div class="galerie">
            <div class="marge carte-size">
                <img class="full-screen" src="images/carte_aqueduc.png">
            </div>
            <div class="marge carte-size">
                <div class="carte">
                    <div class="couts-area">
                        <div class="cout">
                            <div class="ressource">
                                <img class="full-screen" src="images/pierre.png"/>
                            </div>
                            <div class="ressource">
                                <img class="full-screen" src="images/pierre.png"/>
                            </div>
                            <div class="ressource">
                                <img class="full-screen" src="images/pierre.png"/>
                            </div>
                        </div>
                        <div class="cout">
                            <div class="dependance">BAINS</div>
                        </div>
                    </div>
                    <div class="effets">
                        <div class="effet">
                            <img class="full-screen" src="images/laurier2.png">
                            <div class="center victoire">5</div>
                        </div>
                    </div>
                    <div class="name">AQUEDUC</div>
                    <div class="image">
                        <img class="full-screen" src="images/aqueduc.png"/>
                    </div>
                    <div class="nombreJoueurs">3+</div>
                </div>
            </div>
        </div>
    </body>
</html>
