<div class="marge carte-size">
    <div class="carte bleue">
        <div style="position:absolute;top:0px;left:10px;width:12px;height:80px">
            <div class="background-banner background-full"> </div>
        </div>
        <div style="position:absolute;top:0px;left:32px;width:12px;height:25px">
            <div class="background-banner background-full text-dependance">
            BAINS
            </div>
        </div>
        <div style="position:absolute;top:10px;left:60px;width:30px;height:30px">
            <img class="full-screen" src="images/laurier3.png">
            <div class="center victoire chiffres">5</div>
        </div>



    </div>
</div>
