<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>7 wonders</title>
</head>
<body>
    <div class="carte">
        <div class="cout-pierre"></div>
        <div class="cout-pierre"></div>
        <div class="cout-pierre"></div>
        <div class="dependance">BAINS</div>
        <div class="victoire">5</div>
        <div class="name">AQUEDUC</div>
        <div class="image">
            <img src="images/aqueduc.png"/>
        </div>
        <div class="nombreJoueurs">3+</div>
    </div>
</body>
</html>