<div class="marge carte-size">
    <div class="carte bleue">
        <div class="couts-area">
            <div class="cout background-banner ressources-3">
                <div class="padding"> </div>
                <div class="ressource">
                    <img class="full-screen" src="images/pierre.png"/>
                </div>
                <div class="ressource">
                    <img class="full-screen" src="images/pierre.png"/>
                </div>
                <div class="ressource">
                    <img class="full-screen" src="images/pierre.png"/>
                </div>
            </div>
            <div class="cout">
                <div class="dependance text-dependance">BAINS</div>
            </div>
        </div>
        <div class="effets">
            <div class="effet position-center">
                <img class="full-screen" src="images/laurier3.png">
                <div class="center victoire chiffres">5</div>
            </div>
        </div>
        <div class="name background-name text-name">AQUEDUC</div>
        <div class="image">
            <img class="full-screen" src="images/aqueduc.png"/>
        </div>
        <div class="nombreJoueurs text-nombreJoueurs">3+</div>
    </div>
</div>
