<div class="marge carte-size">
    <div class="carte">
        <div class="couts-area">
        </div>
        <div class="effets">
            <div class="effet position-center">
                <div class="coin-picture position-center">
                    <img class="full-screen" src="images/coin.png">
                    <div class="center coins chiffres">5</div>
                </div>
            </div>
        </div>
        <div class="name">TAVERNE</div>
        <div class="image">
            <img class="full-screen" src="images/aqueduc.png"/>
        </div>
        <div class="nombreJoueurs">5+</div>
    </div>
</div>
