<div class="marge carte-size">
    <div class="carte">
        <div class="couts-area">
        </div>
        <div class="effets">
            <div class="effet">
                <img class="full-screen" src="images/laurier3.png">
                <div class="center victoire">5</div>
            </div>
        </div>
        <div class="name">TAVERNE</div>
        <div class="image">
            <img class="full-screen" src="images/aqueduc.png"/>
        </div>
        <div class="nombreJoueurs">5+</div>
    </div>
</div>
